* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #F8FAFA;
}

#both-forms-section {
    margin-top: 25px;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

header img {
    height: 80px;
}

header p {
    font-size: 20px;
}

.all-forms-container {
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
}

.page-changing-buttons {
    background: #F5F5F5;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    gap: 5px;
}

#login-page,
#create-pass-page {
    background: #F5F5F5;
    color: #737373;
    padding: 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
}

.active-tab {
    background: white !important;
    color: black !important;
}

#login-section {
    display: block;
}

#create-pass-section {
    display: none;
}

#landing-page {
    display: none;
}

#login-section,
#create-pass-section {
    border: 1px solid silver;
    border-radius: 8px;
    padding: 22px;
    margin-top: 8px;
}

.text h4 {
    margin-bottom: 5px;
}

.text p {
    color: #737373;
    font-size: 14px;
}

.cnic-box-1,
.cnic-box-2,
.pass-box-1,
.pass-box-2,
.DOB-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

input {
    padding: 10px;
    border: 1px solid silver;
    border-radius: 7px;
}

input:focus {
    outline: 1px solid black;
}

#login-btn,
#submit-btn {
    color: white;
    background: #2B4F8C;
    border: 1px solid #2B4F8C;
    width: 100%;
    margin-top: 20px;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
}

#login-btn:hover,
#submit-btn:hover {
    background: #0A2B70;
}

/* .landing-page-container {} */

.landing-page {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 45px;
    height: 105px;
}

.logo-and-input-box {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    flex: 1.5;
}

.smit-logo {
    height: 55px;
}

.input-and-srch-svg-box {
    width: 100%;
    max-width: 400px;
    position: relative;
}

.input-and-srch-svg-box input {
    width: 100%;
    padding-left: 12px;
    border: 1px solid #9CA3AF;
    border-radius: 10px;
    background-color: #F8FAFA;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-and-srch-svg-box svg {
    height: 18px;
    color: #9CA3AF;
    position: absolute;
    top: 9.5px;
    right: 10px;
}

.select-and-buttons-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.position-arrow {
    position: relative;
}

select {
    padding: 10px 40px 10px 15px;
    border: 1px solid #9CA3AF;
    border-radius: 10px;
    outline: none;
    background-color: #F8FAFA;
    color: #9CA3AF;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:focus {
    border: 1px solid black;
    color: black;
}

.position-arrow svg {
    height: 14px;
    color: #9CA3AF;
    position: absolute;
    top: 11.5px;
    right: 11.5px;
    cursor: pointer;
}


.feedback-btn-box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.feedback-btn {
    padding: 8px 16px;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 16px;
}

.logout-btn {
    padding: 7.4px;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 7px;
}

.feedback-btn:hover,
.logout-btn:hover {
    cursor: pointer;
    background-color: #2D2E2E;
}


.logout-btn svg {
    height: 16px;
}

@media(max-width:768px) {
    .DOB-box {
        width: 100%;
    }

    #DOB-input[type="date"] {
        width: 100%;
        display: block;
        flex: 1;
        background-color: red;
    }

    #both-forms-section {
        margin-top: 32px;
    }

    .all-forms-container {
        max-width: 90%;
    }

    .landing-page {
        flex-direction: column;
        padding: 10px;
        gap: 8px;
        height: fit-content;
    }

    .logo-and-input-box {
        width: 100%;
        gap: 25px;
    }

    .select-and-buttons-box {
        width: 100%;
        gap: 25px;
    }
}

@media(max-width:350px) {
    .select-and-buttons-box {
        gap: 12px;
    }

    select {
        padding: 11.2px 32px 11.2px 11.2px;
        font-size: 12.5px;
    }

    .position-arrow svg {
        height: 13px;
        top: 12px;
        right: 9px;
    }

    .feedback-btn {
        padding: 10px 15px;
        font-size: 13px;
    }

    .logout-btn {
        padding: 10px 5px;
    }

    .logout-btn svg {
        height: 13px;
    }
}

@media(max-width:280px) {
    .select-and-buttons-box {
        flex-direction: column;
        gap: 8px;
    }

    select {
        padding: 10px 40px 10px 15px;
    }

    .position-arrow svg {
        height: 13px;
        top: 12px;
        right: 9px;
    }

    .feedback-btn-box {
        justify-content: space-between;
        gap: 10px;
        width: 100%;
    }

    .feedback-btn {
        padding: 8px 16px;
        font-size: 16px;
    }

    .logout-btn {
        padding: 7.4px;
    }

    .logout-btn svg {
        height: 16px;
    }

    .position-arrow {
        width: 100%;
    }

    select {
        width: 100%;
    }

    .input-and-srch-svg-box svg {
        display: none;
    }

}